{{#each product}}
<div class="post" id="${object.id}">
  <h2>${object.title}</h2>
  <p>${object.text}</p>
  <button class="editPostButton" data-id="${object.id}">Редагувати</button>
  <button class="deletePostButton" data-id="${object.id}">Видалити</button>
  
  <div class="commentsContainer" data-id="${object.id}">
    <h3>Коментарі:</h3>
    <ul class="commentsList">
      ${commentsHTML}
    </ul>
    <form class="createCommentForm">
      <input type="text" class="commentInput" placeholder="Новий коментар" required>
      <button type="submit">Додати коментар</button>
    </form>
  </div>
</div>
{{/each}}